<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../../css/edit.css">
	<% include ../partials/head.ejs %>
</head>
<body>
	<% include ../partials/header.ejs %>

	<div class="main">
		<div class="wrapper">
			<%= student %>
			<h2>Student's Details</h2>
			<form action="/student/<%= student._id %>?_method=PUT"  method="POST">
				<div id="studentInfo">
					<h4>Student Name</h4>
					<div class="student-name">
						<input type="text" name="firstName" placeholder="First Name" value="<%= student.firstName %>" required>
						<input type="text" name="middleName" placeholder="Middle Name" value="<%= student.middleName %>" required>
						<input type="text" name="lastName" placeholder="Last Name" value="<%= student.lastName %>" required>
					</div>
					<div class="personal-info">
						<h4>Student Information</h4>
						<input type="number" name="dateOfBirth" placeholder="Year of Birth" value="<%= student.dateOfBirth %>" required>
						<input type="text" name="neighborhood" placeholder="neighborhood (Area)" value="<%= student.neighborhood %>" required>
						<label for="gender">Gender: </label>
						<select name="gender"  value="<%= student.gender %>">
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
					<div class="education-info">
						<h4>Educational Information</h4>
						<input type="text" name="classname" placeholder="Class" value="<%= student.class %>" required>
						<input type="text" name="previousSchool" value="<%= student.previousSchool %>" placeholder="previous School" required>

					</div>
					

					<div class="student-contacts">
						<h4>Contact Details</h4>
						<input type="number" name="studentmobile"  placeholder="Mobile Number" value="<%= student.mobile %>">
						<input type="email" name="studentemail"  placeholder="Email" value="<%= student.email %>">
					</div>

					<div id="additional"> 
						<h4>Additional Information</h4>
						<textarea name="healthInfo" placeholder="Any Information on Health related issues" id="" cols="30" rows="10" value="<%= student.healthInfo %>"></textarea>
						<textarea name="additionalInfo" placeholder="Any additional Information" id="" cols="30" rows="10" value="<%= student.additionalInfo %>"></textarea>
					</div>
				</div>
					<h2>Parent's Details</h2>

					<div id="parentInfo">

						<div id="Mother">
							<h5>Mother</h5>
							<input type="text" name="motherName" placeholder="Mother's Full Name" value="<%= student.parentInfo.mother.name %>" required>
							<input type="number" name="motherPhone" placeholder="Mobile Number" value="<%= student.parentInfo.mother.phoneNumber %>" required maxlength="10">
						</div>
						
						<div id="father">
							<h5>Father</h5>
							<input type="number" name="fatherPhone" placeholder="Mobile Number" value="<%= student.parentInfo.father.phoneNumber %>" required>
						</div>
						<div id="guardian">
							<h5>Guardian</h5>
							<input type="text" name="guardianName" placeholder="Guardian's Full Name" value="<%= student.parentInfo.guardian.name %>" required>
							<input type="number" name="guardianPhone" placeholder="Mobile Number" value="<%= student.parentInfo.guardian.phoneNumber %>" required>
							<input type="text" name="relationship" placeholder="Relations to the student" value="<%= student.parentInfo.guardian.relations %>"  required>
						</div>
					</div>
					<button type="submit" class="btn">Submit</button>

			</form>

		</div>
	</div>
	<% include ../partials/footer.ejs %>
</body>
</html>

	