<!DOCTYPE html>
<html>
<head>
	<title>All Students</title>
	<link rel="stylesheet" type="text/css" href="../students.css">
	<% include ../partials/head.ejs %>
</head>
<body>
	<% include ../partials/header.ejs %>

	<div class="main">
		<div class="wrapper">


			<h1>All Student</h1>

			<h3><a href="/student/new">Add new Student</a></h3>
			<!-- Search Section -->
			<input type="text" id="search" onkeyup="myFunction()" placeholder="Search for names..">
			<select id="filter">
				<option>Name</option>
				<option>Class</option>
				<option>Mother's Name</option>
			</select>

			<!-- Student Table -->
			<table id="myTable">
				<thead>
					<tr id="hacker-list">
						<th class="name">Name</th>
						<th class="gender">Gender</td>
						<th class="class">Class</th>
						<th class="yearOfBirth">Year of Birth</th>
						<th class="MotherName">Mother's Name</th>
						<th class="MotherNumber">Mother's Number</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% for(var i = 0; i <= students.length -1 ; i++) { %> 
					<tr>
						<td><a href="/student/<%= students[i]._id %>"><%= students[i].name %></a></td>
						<td><%= students[i].gender %></td><td><%= students[i].class %></td>
						<td><%= students[i].dateOfBirth %></td>

						<td><%= students[i].parentInfo.mother.name %></td>
						<td><%= students[i].parentInfo.mother.phoneNumber %></td>
						<td><a href="/student/<%= students[i]._id %>/edit"><i class="fas fa-user-edit" ></i></a></td>
						<form method="POST" action="/student/<%= students[i]._id %>?_method=DELETE">
						  <td><button type="submit"><i class="fas fa-trash"></i></button></td>
						</form>
						
					</tr>
					<% } %>
				</tbody>
			</table>
			<!-- END of Student table -->
			
		</div>
	</div>

	<!-- Edit Modal Pop up -->
	<div class="modal">
		<div class="modal-container">
			<div class="close">+</div>
			
		</div>
	</div>

	<!-- End of Modal -->
	<script>
		var close = document.querySelector('.close');
		var edit = document.getElementsByClassName('fa-user-edit');
		var modal = document.querySelector('.modal');

		for(var i = 0 ; i <= edit.length -1 ; i++){
			edit[i].addEventListener('click', function(){
				modal.style.display = 'flex';
			});
		};

		close.addEventListener('click', function(){
			modal.style.display = 'none';
		});




	function myFunction() {
	  // Declare variables 
	  var input, filter, table, tr, td, i, txtValue, param;
	  input = document.getElementById("search");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  param = document.getElementsByTagName('select');

	  // Loop through all table rows, and hide those who don't match the search query


	  for (i = 0; i < tr.length; i++) {
		    td = tr[i].getElementsByTagName("td")[0];
		    if (td) {
		      txtValue = td.textContent || td.innerText;
		      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		        tr[i].style.display = "";
		      } else {
		        tr[i].style.display = "none";
		      }
		    } 
		  }
		}
	</script>
</body>
</html>